{{define "subject"}}Welcome to MovieMaze!{{ end }}

{{define "plainBody"}}
Hi. Thanks for signing up for a MovieMaze account. We're excited to have you on
board! To activate your account send a PUT request to the endpoint below with a
the provided activation token as the body. POST
https://moviemaze.torkelaannestad.com/v1/auth/password-reset {"token": "{{.passwordResetToken

}}", "new_password":"NewPa55word"}. Please note that this is a one-time use
token and it will expire in 1 hour. For further information please see the API
documentation at moviemaze.torkelaannestad.com/api-docs Thanks, The MovieMaze
Team
{{ end }}

{{define "htmlBody"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <p>To reset your password do the following request</p>

    <pre>
      <code>POST https://moviemaze.torkelaannestad.com/v1/auth/password-reset</code>
      <code>{"token": "{{.passwordResetToken}}", "new_password":"NewPa55word"}</code>
    </pre>
    <p>
      Please note that this is a one-time use token and it will expire in 1
      hour.
    </p>
    <p>
      For further information please see the API documentation at
      <code> moviemaze.torkelaannestad.com</code>
    </p>
    <p>Thanks,</p>
    <p>The MovieMaze Team</p>
  </body>
</html>
{{ end }}
